<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/items.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Computer Lab Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/template/lab.html">Lab Schedules</a></li>
            <li><a href="/template/items.html">Items</a></li>
            <li><a href="/template/login.html">Login</a></li>
        </ul>
    </nav>
    <div>
        <h1>LAB ITEMS</h1>
        <H4>KEYBOARD</H4></div>
 <div class="KEYBOARD">

  
    <div class="one">
    <img src="../static/images/stefen-tan-KYw1eUx1J7Y-unsplash.jpg" alt="" style="width: 200px;">
    </div>
    <div class="two">
        <img src="../static/images/martin-garrido-cVUPic1cbd4-unsplash.jpg" alt="" style="width: 352px;">
    </div>
    <div class="three">
        <img src="../static/images/editors-keys-CtDrd7mWW6M-unsplash.jpg" alt="" width="160px">
    </div>
 </div>
 <h3>Mouse</h3>
 <div class="Mouse">
    <div class="four">
    <img src="../static/images/tareq-hasan-ZHDD9n__7yU-unsplash.jpg" alt="" width="300px">
    </div>
    <div class="five">
    <img src="../static/images/tareq-hasan-Q5HuTEJaCJs-unsplash.jpg" alt="" width="300px">
    </div>
    <div class="six">
    <img src="../static/images/tareq-hasan-jnf97uBLL9M-unsplash.jpg" alt="" width="300px">
    </div>
 </div>
<h5>Desktops</h5>
 <div class="Desktops">
    <div class="seven">
    <img src="../static/images/istockphoto-1740123848-170667a.webp" alt="" width="300px">
    </div>
    <div class="eight">
    <img src="../static/images/istockphoto-1583075950-170667a.webp" alt="" width="250px">
    </div>
    <div class="nine">
    <img src="../static/images/istockphoto-1740123848-170667a.webp" alt="" width="300px">
    </div>
 </div>
</body>
</html>
