<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/lab.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Computer Lab Management System</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/template/lab.html">Lab Schedules</a></li>
            <li><a href="/template/items.html">Items</a></li>
            <li><a href="/template/login.html">Login</a></li>
        </ul>
    </nav>
   
    <center> 
           <h1>OUR LAB SCHEDULES HOURS</h1>
           <div class="tony">
            <h3>Usual working hours</h3>
        <table border="1">
            <tr><th>MONDAY</th>
            <TD>SOFTWARE DEVELOPMENT</TD></tr>
            <tr><th>TUESDAY</th>
            <TD>NETWORKING</TD></tr>
            <tr><th>WEDNESDAY</th>
            <TD>MULTIMEDIA PRODUCTION</TD></tr>
            <tr><th>THURSDAY</th>
            <TD>COMPUTER SYSTEM</TD></tr>
            <tr><th>FRIDAY</th>
            <TD>FOOD AND BEVERAGE</TD></tr>
        </table>
    </div>
        <div class="by">
     <img src="../static/images/US.webp" alt="" >
    <img src="../static/images/USH.webp" alt="">
    <img src="../static/images/USHER.webp" alt="">
    <h4>Prep time</h4>
    <table border="1">
        <tr><th>MONDAY</th>
        <TD>ELECTRONICS</TD></tr>
        <tr><th>TUESDAY</th>
        <TD>TOURISM</TD></tr>
        <tr><th>WEDNESDAY</th>
        <TD>ACCOUNTING</TD></tr>
        <tr><th>THURSDAY</th>
        <TD>BUILDING CONSRUCTION</TD></tr>
        <tr><th>FRIDAY</th>
        <TD>MCE</TD></tr>
    </div>
    </center>

</div>
</body>
</html>