<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Lab Management System</title>
   <link rel="stylesheet" href="/static/css/login.css">
   <link rel="stylesheet" href="/static/css/style.css">
<body>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/template/lab.html">Lab Schedules</a></li>
            <li><a href="/template/items.html">Items</a></li>
            <li><a href="/template/login.html">Login</a></li>
        </ul>
    </nav>
    <center>
    <div class="container">
        <h1>Computer Lab Management System</h1>
        <form id="loginForm">
            <h2>Login</h2>
            <input type="text" placeholder="Username" id="username" required>
            <input type="password" placeholder="Password" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</center>
</body>
</html>

